@mixin size($w, $h) {
  width: $w;
  height: $h;
}

* {
  font-family: 微軟正黑體;
}

html,
body {
  @include size(100%, 100%);
  margin: 0px;
  padding: 0px;
  background-color: #333;
}

.minus,
.num,
.add {
  display: inline-block;
  font-size: 50px;
  padding: 10px;
}

.minus,
.add {
  width: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.5s;
  &:hover {
    background-color: #fff;
    color: #333;
  }
}

.num {
  width: 50px;
  text-align: center;
}

.count {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px white;
  color: white;
}

.text {
  padding: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  border-bottom: solid 7px white;
  transition-duration: 0.5s;
}

.fill_stock {
  font-size: 13px;
  text-align: center;
  height: 0px;
  overflow: hidden;
}

.fill_stock_open {
  padding-top: 10px;
  height: 30px;
  transition-duration: 0.5s;
  cursor: pointer;
}
